<div class="card bg-light" style="margin-bottom: 10%;">
    <a href={{link}} target="_blank">
    <img class="card-img-top" src={{img}} alt={{title}}>
    </a>
    <div class="card-body">
        <a class="card-link" href={{link}} target="_blank">
        <h4 class="card-title">{{title}}</h4></a>
        <p class="card-text">{{byline}}</p>
        <p class="card-text">By: {{author}}</p>
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-secondary m-2 add-favorite" data-id={{id}}><i class="far fa-star"></i></a>
        <a href="#" class="btn btn-secondary m-2 comment" data-id={{id}}><i class="far fa-comment-alt"></i></a>
    </div>
</div>